Site/XML/XSD.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Library">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="List">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Numero" type="xs:unsignedByte" />
              <xs:element name="Estados" type="xs:string" />
              <xs:element name="FocosDeIncendios" type="xs:unsignedShort" />
              <xs:element name="Percentagens" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>